<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165908019983-n5ankjhr3iqq2n1o4acnadr91lnmo0ep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165908019983-n5ankjhr3iqq2n1o4acnadr91lnmo0ep</string>
	<key>API_KEY</key>
	<string>AIzaSyAdM9NN-OJ_E0atlGUjW0jDyTcHd-F8Zho</string>
	<key>GCM_SENDER_ID</key>
	<string>165908019983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>juhoon.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>firechat-4c09d</string>
	<key>STORAGE_BUCKET</key>
	<string>firechat-4c09d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165908019983:ios:4299e55827c800a8cc1c7a</string>
</dict>
</plist>